# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
/bin/
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables (JANGAN commit file ini!)
.env

# Database files
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Test output
coverage.out
coverage.html
